$global-background: #7B2A0A;
$global-background-soft: #7b2a0ab2;
$btn-blog: #7B2A0A;
$btn-blog-hover: #DB982C;
$global-background-light: #7b2a0ad5;
$tech-hover: #DB982C;
$brand: #DB982C;
$contact-color: #DB982C;
$resume-progress-total: #7B2A0A;
$resume-progress-progress: #DB982C;
