#Deploy config: 'production' or 'dev'
DEPLOY_CONFIG=dev

#Prisma configs
JWT_SECRET="123"
#Prisma dev config "postgresql://guaradata-admin:123456@localhost:5432/guaradata"
#Prisma production config "postgresql://guaradata-admin:123456@172.168.0.4:5432/guaradata"
SQL_DATABASE_URL="postgresql://guaradata-admin:123456@localhost:5432/guaradata"