#Deploy config: 'production' or 'dev'
DEPLOY_CONFIG:dev

#MongoDB config
DATABASE_NAME:guaradata
DATABASE_USER:guaradata-admin
DATABASE_PASS:123456
DATABASE_URI:mongodb://guaradata-admin:123456@172.168.0.3:27017

#Mongo-express
BASICAUTH_USERNAME:guaradata-admin
BASICAUTH_PASSWORD:123456
MONGODB_PORT:27017
MONGODB_ADMINUSERNAME:guaradata-admin
MONGODB_ADMINPASSWORD:123456
BASICAUTH:true

#Postgres database
POSTGRES_DB:guaradata
POSTGRES_USER:guaradata-admin
POSTGRES_PASSWORD:123456

#Prisma configs
JWT_SECRET:"123"
#Prisma local config "postgresql://guaradata-admin:123456@localhost:5432/guaradata"
SQL_DATABASE_URL:"postgresql://guaradata-admin:123456@172.168.0.4:5432/guaradata"

#Nuxt configs
NUXT_API_URL="http://localhost/api"