#Deploy config: 'production' or 'dev'
DEPLOY_CONFIG:dev

#MongoDB config
DATABASE_NAME:presente
DATABASE_USER:presente-admin
DATABASE_PASS:123456
DATABASE_URI:mongodb://presente-admin:123456@210.168.0.3:27017

#Mongo-express
BASICAUTH_USERNAME:presente-admin
BASICAUTH_PASSWORD:123456
MONGODB_PORT:27017
MONGODB_ADMINUSERNAME:presente-admin
MONGODB_ADMINPASSWORD:123456
BASICAUTH:true

#Postgres database
POSTGRES_DB:presente
POSTGRES_USER:presente-admin
POSTGRES_PASSWORD:123456

#Prisma configs
JWT_SECRET:"123"
#Prisma local config "postgresql://presente-admin:123456@localhost:5432/presente"
SQL_DATABASE_URL:"postgresql://presente-admin:123456@172.168.0.4:5432/presente"